.clr-body-light {
  color: var(--clr-body-light);
}

.clr-grey-61 {
  color: var(--clr-codeblock-btn);
}

.clr-grey-61 svg path {
  fill: var(--clr-codeblock-btn);
}

.bg-white {
  background-color: var(--clr-card-bg);
}

.feature-bg {
  background: var(--clr-feature-bg);
}

html[theme='light'] .feature-border {
  border: none;
}

.feature-border {
  border: 1px solid var(--clr-feature-trans);
}

.feature-border-top {
  border-top: 1px solid var(--clr-feature);
}

.shadow-md {
  box-shadow: $shadow-md;
}

.shadow {
  box-shadow: var(--clr-box-shadow);
}

.box {
  transition: all ease 0.1s;
}

.box:hover {
  box-shadow: var(--clr-box-hover-shadow);
}

@media (forced-colors: active) {
  .box:hover {
    outline: 1px solid Highlight;
  }
}

.rounded {
  border-radius: 8px;
}

.border-0 {
  border: 0;
}

.border-1 {
  border: 1px solid var(--clr-border-trans);
}

.border-2 {
  border: 1px solid var(--clr-border);

}

.border-top-light {
  border-top: 1px solid var(--clr-border-light);
}

.border-top {
  border-top: 1px solid var(--clr-border);
}

.border-bottom {
  border-bottom: 1px solid var(--clr-border);
}

.border-r-4 {
  border-radius: 4px;
}

.border-r-8 {
  border-radius: 8px;
}

.border-r-12 {
  border-radius: 12px;
}

.border-r-24 {
  border-radius: 24px;
}

.border-r-40 {
  border-radius: 40px;
}

.background-none {
  background: none;
}

.border-1 {
  .feature-border-top {
    border-top: 1px solid var(--clr-border);
  }
}